[submodule "arcnet/discovery/lib/mdns"]
	path = arcnet/discovery/lib/mdns
	url = https://github.com/mjansson/mdns
[submodule "arcnet/lib/event"]
	path = arcnet/lib/event
	url = https://github.com/libevent/libevent
